spring:
  application:
    name: mohaemukzip_BE

  jpa:
    database: mysql
    properties:
        hibernate:
            format_sql: true # SQL? ?? ?? ??????.

  profiles:
    active: dev

cloud:
  aws:
    region:
      static: ap-northeast-2